In [29]:
row = {'a':[7,8,9], 'b':2, 'c':3}
rows = [{'a':1, 'b':2, 'c':3}, {'a':4, 'b':5, 'c':6}]

In [22]:
import pandas as pd
df = pd.DataFrame(rows)

In [23]:
df[['a', 'b']]

   a  b
0  1  2
1  4  5

In [24]:
df

   a  b  c
0  1  2  3
1  4  5  6

In [30]:
pd.Series([row['a']] * len(df))

0    [7, 8, 9]
1    [7, 8, 9]
dtype: object

In [27]:
len(df)

2

In [33]:
row['a']

[7, 8, 9]

In [35]:
df['b'] = pd.Series([row['a']])

In [36]:
df

   a          b  c
0  1  [7, 8, 9]  3
1  4        NaN  6

In [44]:
a = ''
print(any(a))
import numpy as np
if not isinstance(a, str) and np.isnan(a):
    print('d')

False

In [40]:
a = []
any(a)

False