# Test drop rows by filter

In [1]:
import pandas as pd

In [6]:
data_rows = [{'a':1},{'a':2},{'a':3},{'a':4},{'a':5}]
data_rows

[{'a': 1}, {'a': 2}, {'a': 3}, {'a': 4}, {'a': 5}]

#### Original dataframe

In [8]:
df = pd.DataFrame(data_rows)
df

   a
0  1
1  2
2  3
3  4
4  5

#### Filter by an id

In [10]:
test = df['a'] == 4
test

0    False
1    False
2    False
3     True
4    False
Name: a, dtype: bool

#### Drop the filtered row

In [22]:
a = df[~test]
a

   a
0  1
1  2
2  3
4  5

#### Drop all and check if is empty

In [23]:
a = a[test]
a

/home/victormmp/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [a]
Index: []

In [19]:
a.empty

True

In [20]:
df.empty

False

In [10]:
li = []

if not li:
    print('Pass')
else:
    print('Fail')

Pass